html{
    background: url("background.jpg") no-repeat center center fixed; 
    background-size: cover;
}
/*.BGimage{
    background-image: url("background.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
*/ 

/*--styling the navigation bar------*/

.navbar__menu {
	text-align: center;
	margin:20px; 
	font-size: 25px;;
		
}

.navbar__item {
	display: inline;
}

.header_text {
	margin-right: 60%;
}

a{
    color:  rgb(153, 93, 19);
}

.links:hover {
    color:blue ;
    transition: all 0.3s ease;
}

.contact_style {
	font-size: 20px;
	font-family:Lucida Sans Lucida, Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif ;
	color:rgb(153, 93, 19);
}

a:visited{
    text-decoration: rgb(153, 93, 19);
    color:  rgb(153, 93, 19);
}
body, html{

    /*text-align: center;*/
    padding-left: 30px;
    margin-top: 0%;
    color: rgb(127, 152, 197);
    margin: auto;

}
.topheader{
    font-family: cursive;   
    text-align: center;
    margin: auto;
}
.menu{
    list-style-type: none;
    display: inline;
    text-align: center;
    border:1px #ccc solid;
    padding: 0px;
    margin: 0%;
    font-size: 30px;
}

.MyForm{
    padding: 20px;
}
.ConForm{

    padding: 10px;
}
.ConForm label{
    display: block;
    color: rgb(153, 93, 19); 
}
.MyForm label{
    display: block;
}
.FomrGroup{
    padding-bottom: 15px;
}
.price{
    color:rgb(153, 93, 19) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bgcolour{
     margin-right: 60%;
    background-color: rgba(42, 43, 42, 0.678);
}


.guide {
	margin-right: 60%;
}
hr {
	margin-right:60%;
}
container{
	margin-right: 60%;
}

img {
  opacity: 0.8;
  width:100%;
}

img:hover {
  opacity: 1.0;
}
.bodycontent {
	margin-right: 60%;
}
.headercolour{
    color:rgb(153, 93, 19) ;
}
